 
    * {
margin: 0;
padding: 0;
box-sizing: inherit;
}

html {
font-size: 62.5%;
box-sizing: border-box;
}

body {
font-family: sans-serif;
color: #333;
line-height: 1.5;
height: 100vh;
position: relative;
display: flex;
align-items: flex-start;
justify-content: center;
background: linear-gradient(to top left, #28b487, #7dd56f);
}

.show-modal {
font-size: 2rem;
font-weight: 600;
padding: 1.75rem 3.5rem;
margin: 5rem 2rem;
border: none;
background-color: #fff;
color: #444;
border-radius: 10rem;
cursor: pointer;
}

.close-modal {
position: absolute;
top: 1.2rem;
right: 2rem;
font-size: 5rem;
color: #333;
cursor: pointer;
border: none;
background: none;
}

h1 {
font-size: 2.5rem;
margin-bottom: 2rem;
}

p {
font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
  .hidden {
display: none;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 70%;

background-color: white;
padding: 6rem;
border-radius: 5px;
box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
z-index: 10;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(3px);
z-index: 5;
}   



    /* .unique-list-type ul li{
        position: relative;
        padding-left: 1rem;
        padding-bottom: .5rem;
        line-height: 25px!important;
        color: #474c51;
        font-size: 1rem;
        font-family: "Heebo",sans-serif;
        font-weight: 400;
    }

	.unique-list-type ul li:first-child::after {
		width: 31px!important;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	.unique-list-type ul li:last-child::before {
		background-color: transparent
	}
	.unique-list-type ul li:first-child::before {
		background-color: #d8d8d8
	}
	.unique-list-type ul li:only-child::before {
		background-color: transparent
	}
	.unique-list-type ul li::before {
		content: "";
		position: absolute;
		left: -1rem;
		top: .7rem;
		height: 100%;
		width: 1px;
		background: #d8d8d8!important
	}
   
    .unique-list-type ul li::after {
		content: "";
		position: absolute;
		left: -1rem;
		top: .7rem;
		height: 0.5px;
		width: 15px;
		background: #d8d8d8!important
	}
    .unique-list-type  ul{list-style: none;}
    .unique-list-type li{list-style: none;}


    .unique-list-type ul li:last-child::before {
        background: 0 0!important;
    }

    .unique-list-type ul {
        list-style: none;
        margin: 0 1em;
        padding: 0 0 30px 20px;
    } */