



.slick-box{display: inline-flex;border: 1.41136px solid #707070;border-radius: 12.7022px;position: absolute;right: 85px;padding: 10px 5px;min-width: 138px;justify-content: space-around;}

.slick-box .prev1{transform: rotate(180deg);}
.slick-box .prev{transform: rotate(180deg);}
.slick-box  .next1.slick-arrow.slick-disabled,.slick-box .prev1.slick-arrow.slick-disabled,.slick-box  .next.slick-arrow.slick-disabled,.slick-box .prev.slick-arrow.slick-disabled{opacity: 0.6;}




/* Onboarding-docs */


.onboarding_docs h3{margin: 45px 25px;}
.trans_card{padding: 30px 44px;border: 1px solid #000;border-radius: 35px;z-index: 1;}
.trans_card h5{font-size: 24px;font-family: 'Playfair Display', serif;margin-bottom: 15px;}
.trans_card h6{font-size: 18px;margin-bottom: 10px;}
.benefits_list li{padding: 10.5px 0;position: relative;}
.benefits_list li::after{content: '';background-image: url(../images/right_arrow.png);background-repeat: no-repeat;display: inline-block;height: 10px;width: 18px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.benefits_list li a{font-size: 16px;line-height: 1.3;color: #474C51;font-weight: 400;}
.trans_card .benefits_list{border-right: 1px solid #ccc;padding-right: 25px;}
.trans_card .col-md-6:last-child .benefits_list{border-right: none;padding-right: 0;}
.onboarding_docs .slick-box{position: static;max-width: 125px;margin-left: auto;margin-right: 7em;display: flex;}
.mrg_rgt_5{margin-right: -5em;}
.docs_img_slider img{height: 750px;}
.revse_col{justify-content: flex-end;}

