.a{color: green;}
.container{margin-left: 100px;}
.fname{color: #dfdfdf;
    font-family: 'Heebo', sans-serif;
    font-size: 24px;margin-bottom: 50px;
    font-weight: 400;display: block;border: 0; }
.name{color: #125caa;margin-bottom: 42px;
    font-family: 'Heebo', sans-serif;
    font-size: 24px;
    font-weight: 400;}
.code{ color: #666666;font-family: 'Heebo', sans-serif;
    font-size: 24px;
    font-weight: 600;}

    .bor{border-bottom: 1px solid #666666;width: 100%;}

    :focus-visible{outline-color: transparent;}
.ext{color: #ffffff;
    font-family: Heebo;
    font-size: 26px;
    font-weight: 400;border-radius: 10px;
    background-color: #125caa;padding: 10px 65px;margin-left: auto;}

    .small, small{color: red;}

    .apply{border-radius: 45px;max-width: 1852;background-color: #efefef;}


        .blue-card{width: 1200px;
                height: 390px;
            
                position: relative;
                background-color: #125caa;}
       
            .bpm{padding: 65px;font-size: 45px;
                font-weight: 400;
                max-width: 411px;
                color: #ffffff;
                font-family: "Playfair Display";
                }
   .wrapper{overflow-x: hidden;}


   .bg-white{box-shadow: 0 16px 79px 2px rgba(0, 17, 32, 0.13);border-radius: 45px;position: absolute;right: 0;top: 0;margin-right: 27px;
    background-color: #ffffff;max-width: 998px;margin-top: 54px;
        margin-left: auto;
        padding: 50px;}


        .now{color: #dfdfdf;
            font-family: 'Heebo', sans-serif;
            font-size: 110px;
            font-weight: 600;
            max-width: 456px;padding: 45px;}










            .section--contact {
                padding: 60px 15px;
                background-color: #33383e;
                overflow: hidden;
                padding: 40px 40px;
            }

            .changed.contact-content-w {
                max-width: 90%;
                margin:  0 auto;
            }

            .contact-content-success-msg {
                position: absolute;
                width: 100%;
                background-color: #33383e;
                height: 100%;
                top: 100%;
                right: 0;
                left: 0;
                bottom: 0;
                -webkit-transition: -webkit-transform .4s ease;
                -o-transition: transform .4s ease;
                transition: transform .4s ease;
                transition: transform .4s ease,-webkit-transform .4s ease;
                z-index: 2;
            }

            .custom_inpt_fs .input-w input.input {
                font-size: 24px!important;
            }

            .input {
                padding: 10px 120px 10px 0;
            }

            .input {
                color: #fff;
                font-family: Heebo,sans-serif;
                font-size: 13px;
                line-height: 24px;
                font-weight: 400;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid #e1e1ee;
                width: 100%;
                -webkit-border-radius: 0;
                border-radius: 0;
                outline: 0;
            }
            .choices {
                position: relative;
                margin-bottom: 24px;
                font-size: 16px;
            }
            .choices:last-child {
                margin-bottom: 0;
            }

            @media (min-width: 768px){
.input {
    font-size: 25px;
    line-height: 31.3px;
    padding: 10px 40px 10px 0;
}
.captcha-img-design {
    border-radius: 5px;
    width: 100%;
}

}